.network-node text,
.network-node--active text {
  font-size: 0.625rem;
}

.network-node text {
  fill: var(--gray-3);
}

.network-node--active text {
  fill: #000000;
}

.network-node circle {
  transform: scale(1);
  transition: transform var(--sm-exit-dur) ease;
}

.network-node--active circle {
  transform: scale(1.25);
  transition-duration: var(--sm-enter-dur);
}
