.page {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.page__header__menu,
.page__header__menu--active {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .page__header__menu,
  .page__header__menu--active {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 905px) {
  .page__header__menu,
  .page__header__menu--active {
    display: none;
  }
}

.page__header__menu--active::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 125%;
  height: 125%;
  border-radius: 50%;
  background-color: var(--bg-color);
}

.page__header__menu svg,
.page__header__menu--active svg {
  position: relative;
  height: 100%;
  z-index: 2;
}

.page__main {
  flex: 1 1 auto;
}

.page__main__sidebar,
.page__main__sidebar--active {
  height: 100%;
  width: min-content;
  position: fixed;
  inset: 0 0 auto -16rem;
  z-index: 20;
  transition: left var(--lg-enter-dur) ease;
}

.page__main__sidebar--active {
  left: 0;
  transition-duration: var(--lg-exit-dur);
}

@media screen and (min-width: 600px) {
  .page__main__sidebar,
  .page__main__sidebar--active {
    position: relative;
  }
}

@media screen and (min-width: 905px) {
  .page__main__sidebar,
  .page__main__sidebar--active {
    left: 0px !important;
    transition-duration: var(--lg-exit-dur) !important;
  }
}

@media screen and (min-width: 905px) {
  .page__main__sidebar--active .navigation-drawer__title {
    transition-duration: var(--lg-enter-dur) !important;
  }
}
