.header {
  display: flex;
  border-bottom: 1px solid var(--gray-1);
  background-color: #ffffff;
}

.header__title svg {
  height: 2.5rem;
}

.header__title h1 {
  font-size: 2rem;
  letter-spacing: -2px;
  margin-left: 0.5rem;
  line-height: 1em;
  font-weight: 300;
}

.header__title {
  display: none;
  padding: 1rem 1.5rem;
  width: 16rem;
  flex-shrink: 0;
  border-right: 1px solid transparent;
}

.header__navigation {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.header__navigation__search {
  flex: 1 1 100%;
}

.header__navigation nav {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 992px) {
  .header__title {
    display: flex;
    align-items: center;
  }

  .header__navigation {
    padding: 1rem 1.5rem;
  }

  .header__navigation__search {
    flex-basis: 50%;
    max-width: 60ch;
    min-width: 40ch;
  }

  .header__navigation nav {
    flex: 1 1 50%;
  }
}

.header__navigation__links {
  display: none;
}

.header__navigation__links a {
  margin-right: 2rem;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .header__navigation__links {
    display: flex;
    align-items: center;
  }
}

.header__navigation__user {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--bg-color);
}

@media screen and (min-width: 576px) {
  .header__navigation {
    gap: 1rem;
  }

  .header__navigation__user {
    width: 2.5rem;
    height: 2.5rem;
  }
}
