.note {
  background-color: #ffffff;
  min-height: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid var(--gray-1);
}

.note__header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 1rem;
  border-top: 8px solid;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid var(--gray-1);
}

.note__header::after {
  content: "";
  height: 4px;
  width: 2rem;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  inset: -6px 0 0 0;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .note__header {
    border-top-width: 4px;
    border-radius: 0;
    top: -1rem;
  }

  .note__header::after {
    display: none;
  }
}

.note__header__title {
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 400;
}

.note__header__left,
.note__header__right {
  height: 1rem;
  flex: 0 0 auto;
}

.note__header__right {
  margin-left: auto;
}

.note__body {
  --ac-color-1: #7881ff;
  --ac-color-2: #4d5fe1;
  --ac-color-3: #0a40bb;

  padding: 1rem 2rem;
}

.note__body > :first-child {
  margin-top: 0 !important;
}

.note__body :is(h1, h2, h3, h4, h5, h6) {
  margin: 1.5rem 0 1rem 0;
  line-height: 1em;
}

.note__body :is(p) {
  margin: 0 0 1rem 0;
}

.note__body h1 {
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--ac-color-1);
}

.note__body h2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--ac-color-1);
}

.note__body h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.note__body h4 {
  font-size: 1rem;
  font-weight: 400;
}

.note__body h5 {
  font-size: 0.875rem;
  font-weight: 500;
}

.note__body h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--ac-color-1);
}

.note__body em {
  color: var(--ac-color-2);
}

.note__body del {
  color: var(--gray-3);
}

.note__body strong {
  color: var(--ac-color-3) !important;
  font-weight: 500;
}

.note__body a {
  color: var(--ac-color-3) !important;
}

.note__body :is(ol, ul) {
  padding-left: 2rem;
  margin: 0 0 1rem 0;
}

.note__body ol {
  list-style-type: decimal;
}

.note__body :is(ol, ul) ol {
  list-style-type: lower-roman;
}

.note__body :is(ol, ul) :is(ol, ul) ol {
  list-style-type: lower-alpha;
}

.note__body ul {
  list-style-type: disc;
}

.note__body :is(ol, ul) ul {
  list-style-type: circle;
}

.note__body :is(ol, ul) :is(ol, ul) ul {
  list-style-type: square;
}

.note__body li {
  margin-top: 0.25rem;
}

.note__body li > p:first-child {
  margin: 0;
}

.note__body table {
  border-collapse: collapse;
}

.note__body :is(th, td) {
  border-top: 1px solid var(--gray-1);
  border-bottom: 1px solid var(--gray-1);
}

.note__body :is(th, td):first-child {
  border-left: 1px solid var(--gray-1);
}

.note__body :is(th, td):last-child {
  border-right: 1px solid var(--gray-1);
}

.note__body tbody tr:nth-child(2n) {
  background-color: var(--bg-color);
}

.note__body th {
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.note__body td {
  padding: 0.375rem 1rem;
}

.note__body blockquote {
  padding: 0 1rem;
  margin: 0 0 1rem 0;
  border-left: 0.25rem solid var(--gray-1);
  color: var(--gray-3);
}

.note__body hr {
  border: 0.5px solid var(--gray-1);
}

.note__body .footnotes {
  font-size: 0.75rem;
  border-top: 1px solid var(--gray-1);
  padding-top: 0.5rem;
  color: var(--gray-3);
}

.note__body :is(sup a, .data-footnote-backref) {
  text-decoration: none;
}

.note__body pre code {
  background-color: var(--bg-color);
  font-size: 0.85rem;
  padding: 1rem;
  border-radius: 4px;
  white-space: pre;
  font-family: "Roboto mono", monospace;
}

.note__body p code {
  background-color: var(--bg-color);
  font-size: 0.85rem;
  padding: 0.125rem 0.25rem;
  border-radius: 4px;
  font-family: "Roboto mono", monospace;
}
