@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font: "Inter", sans-serif;

  --fg-color: #000000;
  --bg-color: #f1ecff;
  --gray-1: #888888;
  --gray-2: #555555;
  --gray-3: #333333;

  --sm-enter-dur: 100ms;
  --sm-exit-dur: 100ms;
  --md-enter-dur: 250ms;
  --md-exit-dur: 200ms;
  --lg-enter-dur: 300ms;
  --lg-exit-dur: 250ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font);
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: var(--bg-color);
}
